<!DOCTYPE html>

<!--
      8""""8                               8""""8
      8      eeee eeeee  e  eeeee eeeee    8      eeeee eeeee eeeee eeeee
      8eeeee 8  8 8   8  8  8   8   8      8eeeee   8   8   8   8   8   "
          88 8e   8eee8e 8e 8eee8   8e         88   8e  8eee8   8e  8eeee
      e   88 88   88   8 88 88      88     e   88   88  88  8   88     88
      8eee88 88e8 88   8 88 88      88     8eee88   88  88  8   88  8ee88
-->

<html>
  <head>
    <title>ScriptStats</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <% script ('/javascripts/bootstrap.min.js') -%>
    <% stylesheet ('/stylesheets/bootstrap-theme-united.min.css') -%>
    <% stylesheet ('/stylesheets/base.css') -%>
    <%-scripts %>
    <%-stylesheets %>
  </head>
  <body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Script Stats</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <% navItems.forEach(function(navItem) { %>
              <li class="<%-navItem.cssClass%>"><a href="<%-navItem.url%>"><%-navItem.title%></a></li>
            <% }) %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="nav-space"></div>

    <div class="container">
      <div class="starter-template">
        <%-body -%>
      </div>
    </div><!-- /.container -->

    <footer class="footer">
      <div class="container">
        <p>
          Script Stats provided free by <a href="http://mattheworiordan.com/">Matthew O'Riordan</a>
          <span class="divider"></span>
          Feel free to issue <a href="https://github.com/mattheworiordan/scriptstats">pull requests on Github</a>
          <span class="divider"></span>
          <a href="http://uptime.scriptstats.info">Service uptime</a>
          <span class="divider"></span>
          <a href="http://mattheworiordan.com/">Contact</a>
        </p>
      </div>
    </footer>
  </body>
</html>